@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.o {
  font-size: 50px;
  color: purple;
}
header {
  height: 100vh;
  width: 100%;
  background-color: rgba(229, 84, 115, 0.1);
}
nav h1 {
  font-weight: 800;
}
nav {
  display: flex;
  margin-left: 240px;
  margin-right: 240px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.drop {
  border-radius: 8px;
  margin-left: 45px;

  position: absolute;
  display: none;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(229, 169, 179, 0.516);
}
.hov-drop:hover .drop {
  display: flex;
}

nav > ul {
  display: flex;
}
nav li {
  margin-right: 10px;
  list-style: none;
  font-weight: 700;
}
nav a {
  text-decoration: none;
  margin-right: 10px;
}

.header-main h4 {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.header-main button {
  height: 34px;
  border: none;
  margin-top: 22px;
  border-radius: 3px;
  width: 94px;
  background-color: #e55473;
  color: white;
  font-weight: 400;
}
.header-main h1 {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
}
.header-main {
  width: 650px;
  margin-left: 240px;
  margin-top: 130px;
}
.header-box {
  display: flex;
}
.header-img img {
  height: 629px;
}
main {
  margin-left: 240px;
  margin-right: 240px;
}
.featured {
  height: 100%;

}
.featured h1 {
  color: #272727;

  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.featured h5 {
  color: rgba(39, 39, 39, 0.6);

  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hh {
  padding-top: 50px;
  width: 540px;
  margin: auto;
}
.img1 {
  margin-top: 50px;
  height: 350px;
  width: 320px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: palevioletred;
}
.img1 img {
  height: 300px;
  width: 240px;
  margin-top: 50px;
  margin-left: 32px;
}
.imgs {
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.text a {
  color: #272727;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}


.delivery{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 100px;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
}
.del1{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.del1 .op{
    height: 88px;
    width: 88px;
    margin-left: 100px;
}
.opo{
  height: 88px;
  width: 88px;
    margin-left: 10px;
}

.del1 a{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.80);

text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 35px;
}
.hot-deal{
  display: flex;
  align-items: center;
  margin-top: 100px;
  height: 620px;
  width: 100%;
  background-color: rgba(229, 84, 115, 0.05);;
}
.write{
  width: 594px;
  margin-left: 240px;
}
.write p{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
}
.write h1{
  
color: #272727;
font-size: 40px;
font-weight: 800;
}
.write span{
  color:#e55473;
}
.write button{
  margin-top: 15px;
  height: 40px;
  width: 110px;
  background-color: #e55473;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.hoti{
  margin-left: 100px;
}
.instahead h4{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 15px;
text-align: center;
}
.instahead h1{
color: #272727;
text-align: center;
margin-top: 80px;
font-size: 40px;
font-weight: 800;
}
.instahead{
  width: 594px;
  margin: auto;
}
.oneimg{
  overflow: hidden;
}
.oneimg img{
  width: 250px;
  transition: all 1s;

}
.oneimg img:hover{
  transform: scale(1.2);
}

.imgs-sec{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  margin-left: 240px;
  margin-right: 240px;
  
}
.get{
  margin-top: 80px;
  margin-left: 240px;
  margin-right: 240px;
  height: 300px;
  background-image: url('./Flower Asset/Rectangle\ 9.png');
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat; 
}
.get h1{
  font-size: 40px;
font-weight: 800;
  padding-top: 80px;
}
.get h6{
  margin-top: 10px;
}
.get input{
  margin-top: 20px;
  width: 340px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 7px;
}
.get h6{
  color: #0808083c;
}
.get button{
  height: 43px;
  width: 80px;
  border: none;
  color: white;
  font-weight: 400;
  
  border-radius: 5px;
background-color: #E55473;
}
footer{
  margin-top: 80px;
  background-color: black;
  color: white;
height: 449px;
display: flex;
  justify-content: center;
  align-items: center;
}
footer h6{
  margin-top: 50px;
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;

font-weight: 400;
}
footer h5{
  color: rgba(255, 255, 255, 0.90);

text-align: center;
margin-top: 20px;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
footer h1{
  text-align: center;
font-size: 48px;
font-weight: 800;
}
footer .wi{
  
  width: 525px;
}